spring:
  datasource:
    url: jdbc:h2:mem:veterinaria;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
jwt:
  secret: 0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
  expirationSeconds: 86400
